!!! Strict
%html
  %head
    %title= [@title, "ESPN API Samples"].compact.join(" | ")
    %meta{:name=>:viewport, :content=>'width=device-width, initial-scale=1.0'}
    %meta{:name=>:description, :content=>'Samples of client usage of the ESPN API.'}
    %meta{:name=>:author, :content=>'Brian R. Jackson'}
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    - logger.debug("before stylesheets")
    -#=stylesheet_link_tag 'bootstrap/bootstrap'
    -#=stylesheet_link_tag 'wedge'
    -#=stylesheet_link_tag 'bootstrap/responsive'
    -#=stylesheet_link_tag 'application'
    -#= stylesheet_link_tag 'bootstrap/bootstrap', 'wedge', 'bootstrap/responsive', 'application', :cache => 'api_samples'
    =stylesheet_link_tag Rack::Less.stylesheet('api_samples')
    - logger.debug("passed stylesheets")
    = yield_content :include
  %body{:onload=>'javascript:startCarousel();', 'data-spy'=>'scroll', 'data-target'=>'.subnav', 'data-offset'=>'50'}
    - logger.debug("passed body")
    .navbar{:class=>'navbar-fixed-top'}
      .navbar-inner
        .container
          %a{:class=>[:btn,'btn-navbar'],'data-toggle'=>:collapse,'data-target'=>'.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href=> url_for(:welcome) } ESPN API Samples
          .nav-collapse
            %ul.nav
              %li{:class=>active_style(url_for(:welcome))}= link_to 'Welcome', url_for(:welcome)
              %li{:class=>active_style(url_for(:headlines, :index))}= link_to 'Headlines', url_for(:headlines, :index)
            %ul.nav{:class => 'pull-right'}
              %li
                %a{:href=>"http://developer.espn.com"}= 'Dev Center'
              %li
                %a{:href=>"http://espn.github.com"}= 'ESPN on GitHub'

    .container
      %header.jumbotron{:class=>:subhead,:id=>:overview}
        %h1= @title
        = yield_content :header
      = yield

      - logger.debug("passed yield")
      %hr.soften
      #footer
        <img alt="150px wide black short" src="http://a.espncdn.com/i/apis/attribution/espn-api-black_150.png">

    =  javascript_include_tag 'jquery',
                              'jquery.webticker',
                               'bootstrap/bootstrap-alert',
                               'bootstrap/bootstrap-button',
                               'bootstrap/bootstrap-carousel',
                               'bootstrap/bootstrap-collapse',
                               'bootstrap/bootstrap-dropdown',
                               'bootstrap/bootstrap-modal',
                               'bootstrap/bootstrap-scrollspy',
                               'bootstrap/bootstrap-tab',
                               'bootstrap/bootstrap-tooltip',
                               'bootstrap/bootstrap-popover',
                               'bootstrap/bootstrap-transition',
                               'bootstrap/bootstrap-typeahead',
                               'application'
